button{
    border-style: inset;
    border-radius: 10px;
    border-width: 2px;
    height: 25px;
    width: 60px;
    font-size: 11px;
    
}
body{
    background-color: black;
    border: outset;
    border-color: grey;
    border-width: 5px;
    width: 60px;
}